* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.4;
  background: #f8ede3;
}

a {
  color: #333;
  text-decoration: none;
}
.Header{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #798777;
  color: #f8ede3;
  font-size: 40px;
  font-weight: 950;
}
.row{
  display: flex;
  justify-content: left;
  align-items: flex-start;
  flex-direction: row;
}

.column{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.sidebar{
  background: #798777;
  width: 150px;
  color: #f8ede3;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  position: sticky ;
  top: 0;

}
.menuButton{
  height: 26.8px;
  width: 100px;
  background: #f8ede3;
  color: #798777;
  border: none;
  outline: none;
  margin: 9px;
}
.formcomponent{
  display: flex;
  justify-content: center;
  align-items: center;
  width:500px;
  margin: 10px;
}
.formname{
  width: 250px;
}
.menuButtonreverse{
  height: 26.8px;
  width: 100px;
  color: #f8ede3;
  background: #798777;
  border: none;
  outline: none;
  margin: 9px;
}
button:hover{
  width: 110px;
  cursor: pointer;
}

.tile{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  border-bottom: 1px solid;
}

input + span {
  padding-right: 30px;
}

input:invalid+span:after {
  content: '✖';
  padding-left: 5px;
}

input:valid+span:after {
  content: '✓';
  padding-left: 5px;
}
legend {
  background-color: #000;
  color: #fff;
  padding: 1px 2px;
}
input {
  margin: .4rem;
}
